[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "*"
python-dotenv = "*"
langchain-openai = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
pypdf = "*"
libmagic = "*"
poppler-utils = "*"
pandoc = "*"
pdf2image = "*"
tesseract = "*"
unstructured = {extras = ["local-inference"], version = "*"}
python-magic-bin = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
